@use "../../utils/Colors.scss" as colors;
$button_font_color: #fff;

.button {
  padding: 16px;
  border-radius: 8px;
  background-color: colors.$dark_blue_color;
  font-size: 16px;
  border: none;
  color: $button_font_color;
  font-weight: bold;
  min-width: 120px;
  transition: filter 200ms ease-out;
  cursor: pointer;
  
  &:hover {
    filter: opacity(0.5);
    transition: filter 200ms ease-in;
  }

  &.secondary {
    background-color: transparent;
    border: 1px solid colors.$dark_blue_color;
    color: colors.$dark_blue_color;
  }

  &:not(first-child) {
    margin-left: 16px;
  }
}