.layer_parent {
  position: absolute;
  background-color: rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;

  &.active {
    height: 100vh;
    width: 100vw;

    .layer_content {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 200ms ease-out;
      z-index: 999;
      pointer-events: auto;
    }
  }
}

.layer_content {
  position: relative;
  position: inherit;
  background-color: #fff;
  width: 600px;
  height: auto;
  opacity: 0;
  transform: translateY(200px);
  transition: opacity 200ms ease-in;
  border-radius: 8px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  pointer-events: none;

  .layer_content_header {
    min-height: 80px;
    cursor: move;
    border-bottom: 1px solid #434343;
  }
}

.resizable {
  resize: both;
  overflow: auto;
}