@use "../../utils/Colors" as colors;

h2 {
  margin: 0;
}

.dialog_title {
  position: absolute;
  top: 24px;
  left: 24px;
  color: colors.$dark_blue_color;
}

.dialog_actions_holder {
  display: flex;
  justify-content: flex-end;
  padding: 24px;
}

// .dialog_content {
  
// }

.dialog_close_button {
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;
  font-size: 0;
  overflow: hidden;
  position: absolute;
  right: 24px;
  top: 24px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 200ms ease-out;
  
  &:hover {
    transform: scale(1.3);
    transition: transform 200ms ease-in;
  }
  
  &:before {
    content: "";
    position: absolute;
    width: 2px;
    height: 24px;
    background-color: colors.$dark_blue_color;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  
  &:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 24px;
    background-color: colors.$dark_blue_color;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}