@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;400;600&display=swap');

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: white;
  margin: 0;
  font-family: 'Exo 2', sans-serif;
}

* {
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
}

.show_dialog_button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
